@use '../../../stylesheets/mixins/mixins';

.container {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text {
  width: 75%;
  @include mixins.flex-column;
  gap: 20px;
  align-items: center;
  margin-top: 50px;

  &__heading {
    font-size: 30px;
  }
}

.searchbar {
  margin-top: 20px;
  margin-left: auto;
}
