@import "typography";
@import "colors";


%button-default {
  width: 298px;
  height: 54px;
  border-radius: 25px;
  display: block;
  text-decoration: none;
  color: white;
}

%button-hover {
  background: $orange-hover;
}

%button-active {
  background: $green;
}

%button-disables {
  background: $gray;
}