$green: #4B9200;
$orange: #F9804B;
$orange-darker: #FE9013;
$yellow: #FFEE2E;
$red: #D31414;
$black-blue: #333B41;
$gray: #767474;
$gray-smoky: #ABABAB;
$gray-light: #F1F3F2;
$frosted-glass-white: #FDFDFF;
$black: #000000;
$white: #FFFFFF;


// hover

$orange-hover: #E47209;
