@use '../../../stylesheets/mixins/mixins';
@use '../../../stylesheets/variables/colors';

.nav-item {
}

.nav-link {
  @include mixins.link-style-reset;
  font-size: 15px;
  line-height: 200%;
  text-transform: uppercase;

  &:hover {
    border-bottom: 1px solid colors.$black;
  }

  &-active {
    border-bottom: 1px solid colors.$black;
  }
}
