$black: black;
$white: white;
$transparent-black: rgba(0, 0, 0, 0.1);
$transparent-gray: #c5c5c5;
$gray: #65635f;
$lightGray: #8d8d8d;
$offWhite: #e7e7e1;
$offWhiteLighter: #f4f4f2;
$red: #ef2b2b;
$lightGreen: #73d273;
$brightGreen: #b0e792;
$salmon: #d65d4a;
$beige: #f8d594;
$green: #729370;
$blue: #245c8a;

$rick-blue: #B2DAE4;
$morty-yellow: #F8FE76;
$morty-pink: #F07E96;
$plumbus-pink: #F9D9CA;
$summers-hair: #F29901;
$portal-green: #39FF14;
$solenya: #006400;
