.main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;

  &__container {
    width: 60%;
    margin-top: 40px;

    @media screen and (max-width: 900px){
      width: 90%;
    }
  }

  &__heading {
    font-size: 30px;
    text-align: center;
  }
}
