@import "../base/colors";
@import "../base/typography";
@import "../base/buttons";

.page {
  width: 100vw;
  height: 100vh;
  font-family: $base-font-family;
  box-sizing: border-box;
}

.container {
  width: 1160px;
  border: 1px solid black;
}


.header {
  height: 80px;
  background-color: $black;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    align-items: center;

    .logo {
      font-family: "Roboto";
      width: 82px;
      height: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border: 1px solid white;


      h1 {
        width: 72.49px;
        font-size: 19.0145px;
        font-weight: 400;
        line-height: 120%;
        color: $white;
        padding: 3.55px 5px;
        border-radius: 2px;
        text-align: center;

      }
    }
  }
}

.bamboo {
  position: absolute;
  left: 11.23px;
  top: 23.64px;

  img {
    height: 20.98px;
    display: block;
  }
}

.navigation {
  margin: 0;
  margin-left: 63px;
}

.nav-list {
  padding: 0;
  display: flex;
  gap: 58px;
  list-style: none;

  .nav-item {

    .active {
      color: $orange;
    }

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        color: $orange;
      }

    }
  }
}

// ------------WATCH ONLINE

.watch-online {
  width: 100%;
  height: 700px;
  background: center no-repeat url("../../images/giant-panda.png");
  background-size: cover;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    justify-content: flex-end;

    .round {
      width: 465px;
      height: 465px;
      border-radius: 50%;
      background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
      position: relative;
      margin-right: 108px;

      .tagline {
        font-size: 106.496px;
        color: $white;
        position: absolute;
        top: 74px;
        left: 83px;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        line-height: 75%;
        text-transform: uppercase;

        span {
          color: $yellow;
        }
      }
    }
  }
}

.wrapper {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.button-watch {
  margin-top: 69px;
  margin-right: 98px;

  .watch-link {
    @extend %button-default;
    @extend %font-button;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);

    &:hover {
      @extend %button-hover;
    }

    &:active {
      @extend %button-active;
    }
  }
}

.active {
  color: $orange;
}

//----------------------------------------CHOOSE ANIMAL SECTION-----

.backstage {
  height: 605px;
  background: no-repeat right url("../../images/flower-photo-1.png");
  display: flex;
  justify-content: center;
  margin-bottom: 106px;

  .instructions {
    margin-top: 140px;
    display: flex;
    gap: 87px;
  }
}

.backstage-text {
  color: $black-blue;

  h2 {
    @extend %font-h2;
  }

  .about-site {
    @extend %font-regular;
    margin-top: 20px;
    line-height: 130%;
  }

  h4 {
    @extend %font-subtitle;
    margin-top: 54px;
  }

  .goals {
    @extend %font-regular;
    margin-top: 34px;
  }
}

.pets {

  display: flex;
  justify-content: center;

  .button {
    width: 52px;
    height: 52px;
    background-color: $orange;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 10px;
  }


}




















