/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/Roboto/roboto-v30-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/Roboto/roboto-v30-latin-300.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto/roboto-v30-latin-300.woff2") format("woff2"), url("../../fonts/Roboto/roboto-v30-latin-300.woff") format("woff"), url("../../fonts/Roboto/roboto-v30-latin-300.ttf") format("truetype"), url("../../fonts/Roboto/roboto-v30-latin-300.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Roboto/roboto-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/Roboto/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto/roboto-v30-latin-regular.woff2") format("woff2"), url("../../fonts/Roboto/roboto-v30-latin-regular.woff") format("woff"), url("../../fonts/Roboto/roboto-v30-latin-regular.ttf") format("truetype"), url("../../fonts/Roboto/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Roboto/roboto-v30-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/Roboto/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto/roboto-v30-latin-500.woff2") format("woff2"), url("../../fonts/Roboto/roboto-v30-latin-500.woff") format("woff"), url("../../fonts/Roboto/roboto-v30-latin-500.ttf") format("truetype"), url("../../fonts/Roboto/roboto-v30-latin-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Roboto/roboto-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/Roboto/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto/roboto-v30-latin-700.woff2") format("woff2"), url("../../fonts/Roboto/roboto-v30-latin-700.woff") format("woff"), url("../../fonts/Roboto/roboto-v30-latin-700.ttf") format("truetype"), url("../../fonts/Roboto/roboto-v30-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
.backstage-text h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
}

.backstage-text h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
}

.button-watch .watch-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}

.backstage-text .goals, .backstage-text .about-site {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/Roboto/roboto-v30-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/Roboto/roboto-v30-latin-300.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto/roboto-v30-latin-300.woff2") format("woff2"), url("../../fonts/Roboto/roboto-v30-latin-300.woff") format("woff"), url("../../fonts/Roboto/roboto-v30-latin-300.ttf") format("truetype"), url("../../fonts/Roboto/roboto-v30-latin-300.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Roboto/roboto-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/Roboto/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto/roboto-v30-latin-regular.woff2") format("woff2"), url("../../fonts/Roboto/roboto-v30-latin-regular.woff") format("woff"), url("../../fonts/Roboto/roboto-v30-latin-regular.ttf") format("truetype"), url("../../fonts/Roboto/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Roboto/roboto-v30-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/Roboto/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto/roboto-v30-latin-500.woff2") format("woff2"), url("../../fonts/Roboto/roboto-v30-latin-500.woff") format("woff"), url("../../fonts/Roboto/roboto-v30-latin-500.ttf") format("truetype"), url("../../fonts/Roboto/roboto-v30-latin-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Roboto/roboto-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/Roboto/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto/roboto-v30-latin-700.woff2") format("woff2"), url("../../fonts/Roboto/roboto-v30-latin-700.woff") format("woff"), url("../../fonts/Roboto/roboto-v30-latin-700.ttf") format("truetype"), url("../../fonts/Roboto/roboto-v30-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
.backstage-text h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
}

.backstage-text h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
}

.button-watch .watch-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}

.backstage-text .goals, .backstage-text .about-site {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.button-watch .watch-link {
  width: 298px;
  height: 54px;
  border-radius: 25px;
  display: block;
  text-decoration: none;
  color: white;
}

.button-watch .watch-link:hover {
  background: #E47209;
}

.button-watch .watch-link:active {
  background: #4B9200;
}

.page {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 1160px;
  border: 1px solid black;
}

.header {
  height: 80px;
  background-color: #000000;
  display: flex;
  justify-content: center;
}
.header .container {
  display: flex;
  align-items: center;
}
.header .container .logo {
  font-family: "Roboto";
  width: 82px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid white;
}
.header .container .logo h1 {
  width: 72.49px;
  font-size: 19.0145px;
  font-weight: 400;
  line-height: 120%;
  color: #FFFFFF;
  padding: 3.55px 5px;
  border-radius: 2px;
  text-align: center;
}

.bamboo {
  position: absolute;
  left: 11.23px;
  top: 23.64px;
}
.bamboo img {
  height: 20.98px;
  display: block;
}

.navigation {
  margin: 0;
  margin-left: 63px;
}

.nav-list {
  padding: 0;
  display: flex;
  gap: 58px;
  list-style: none;
}
.nav-list .nav-item .active {
  color: #F9804B;
}
.nav-list .nav-item a {
  color: #FFFFFF;
  text-decoration: none;
}
.nav-list .nav-item a:hover {
  color: #F9804B;
}

.watch-online {
  width: 100%;
  height: 700px;
  background: center no-repeat url("../../images/giant-panda.png");
  background-size: cover;
  display: flex;
  justify-content: center;
}
.watch-online .container {
  display: flex;
  justify-content: flex-end;
}
.watch-online .container .round {
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  position: relative;
  margin-right: 108px;
}
.watch-online .container .round .tagline {
  font-size: 106.496px;
  color: #FFFFFF;
  position: absolute;
  top: 74px;
  left: 83px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 75%;
  text-transform: uppercase;
}
.watch-online .container .round .tagline span {
  color: #FFEE2E;
}

.wrapper {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.button-watch {
  margin-top: 69px;
  margin-right: 98px;
}
.button-watch .watch-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.active {
  color: #F9804B;
}

.backstage {
  height: 605px;
  background: no-repeat right url("../../images/flower-photo-1.png");
  display: flex;
  justify-content: center;
}
.backstage .instructions {
  margin-top: 140px;
  display: flex;
  gap: 87px;
}

.backstage-text {
  color: #333B41;
}
.backstage-text .about-site {
  margin-top: 20px;
  line-height: 130%;
}
.backstage-text h4 {
  margin-top: 54px;
}
.backstage-text .goals {
  margin-top: 34px;
}

/*# sourceMappingURL=main-page.css.map */
