@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
.pick-info h2, .backstage-text h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
}

.testimonials h3, .pick-instruction h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 130%;
}

.pick-info h4, .backstage-text h4, .subscribe p {
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
}

.feedback-button, .pick-button a, .choose-button, .text .type, .button-watch .watch-link, footer .donate-footer-button .donate-footer {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}

.text-information .name, .process-card .subtitle, .pick-info .subtitle-3, .pick-info .subtitle-2, .pick-info .subtitle-1, .backstage-text .goals, .backstage-text .about-site, .soc-media-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.text-information .country-date, .feedback-card-container .feed-card .card-text, .text .area {
  font-size: 15px;
  font-weight: 300;
  line-height: 120%;
}

.copyright p {
  font-size: 16px;
  font-weight: 100;
  line-height: 130%;
}

.pick-info h2, .backstage-text h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
}

.testimonials h3, .pick-instruction h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 130%;
}

.pick-info h4, .backstage-text h4, .subscribe p {
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
}

.feedback-button, .pick-button a, .choose-button, .text .type, .button-watch .watch-link, footer .donate-footer-button .donate-footer {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}

.text-information .name, .process-card .subtitle, .pick-info .subtitle-3, .pick-info .subtitle-2, .pick-info .subtitle-1, .backstage-text .goals, .backstage-text .about-site, .soc-media-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.text-information .country-date, .feedback-card-container .feed-card .card-text, .text .area {
  font-size: 15px;
  font-weight: 300;
  line-height: 120%;
}

.copyright p {
  font-size: 16px;
  font-weight: 100;
  line-height: 130%;
}

.pick-button a, .choose-button, .button-watch .watch-link, .feedback-button, footer .donate-footer-button .donate-footer {
  width: 298px;
  height: 54px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.feedback-button:hover, .pick-button a:hover, .choose-button:hover, .pets .button:hover, .button-watch .watch-link:hover, footer .donate-footer-button .donate-footer:hover {
  background: #E47209;
}

.feedback-button:active, .pick-button a:active, .choose-button:active, .pets .button:active, .button-watch .watch-link:active, footer .donate-footer-button .donate-footer:active {
  background: #4B9200;
}

.feedback-button[disabled], .pick-button a[disabled], footer .donate-footer-button .donate-footer[disabled] {
  background: #767474;
}

.feedback-button, footer .donate-footer-button .donate-footer {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
}

.pick-info h2, .backstage-text h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
}

.testimonials h3, .pick-instruction h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 130%;
}

.pick-info h4, .backstage-text h4, .subscribe p {
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
}

.feedback-button, .pick-button a, .choose-button, .text .type, .button-watch .watch-link, footer .donate-footer-button .donate-footer {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}

.text-information .name, .process-card .subtitle, .pick-info .subtitle-3, .pick-info .subtitle-2, .pick-info .subtitle-1, .backstage-text .goals, .backstage-text .about-site, .soc-media-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.text-information .country-date, .feedback-card-container .feed-card .card-text, .text .area {
  font-size: 15px;
  font-weight: 300;
  line-height: 120%;
}

.copyright p {
  font-size: 16px;
  font-weight: 100;
  line-height: 130%;
}

.pick-info h2, .backstage-text h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
}

.testimonials h3, .pick-instruction h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 130%;
}

.pick-info h4, .backstage-text h4, .subscribe p {
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
}

.feedback-button, .pick-button a, .choose-button, .text .type, .button-watch .watch-link, footer .donate-footer-button .donate-footer {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}

.text-information .name, .process-card .subtitle, .pick-info .subtitle-3, .pick-info .subtitle-2, .pick-info .subtitle-1, .backstage-text .goals, .backstage-text .about-site, .soc-media-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.text-information .country-date, .feedback-card-container .feed-card .card-text, .text .area {
  font-size: 15px;
  font-weight: 300;
  line-height: 120%;
}

.copyright p {
  font-size: 16px;
  font-weight: 100;
  line-height: 130%;
}

.pick-button a, .choose-button, .button-watch .watch-link, .feedback-button, footer .donate-footer-button .donate-footer {
  width: 298px;
  height: 54px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.feedback-button:hover, .pick-button a:hover, .choose-button:hover, .pets .button:hover, .button-watch .watch-link:hover, footer .donate-footer-button .donate-footer:hover {
  background: #E47209;
}

.feedback-button:active, .pick-button a:active, .choose-button:active, .pets .button:active, .button-watch .watch-link:active, footer .donate-footer-button .donate-footer:active {
  background: #4B9200;
}

.feedback-button[disabled], .pick-button a[disabled], footer .donate-footer-button .donate-footer[disabled] {
  background: #767474;
}

.feedback-button, footer .donate-footer-button .donate-footer {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
}

footer {
  height: 1000px;
  background-color: #111115;
  display: flex;
  justify-content: center;
  padding-top: 41px;
  color: #FFFFFF;
}
footer .donate-footer-button .donate-footer[disabled]:hover {
  cursor: default;
}

.email {
  margin-top: 14px;
}
.email .input {
  height: 42px;
  border-radius: 2px;
  padding: 10px;
}
.email .input-email {
  background-color: #111115;
  width: 228px;
  border: 1px solid #F9804B;
  margin-right: 10px;
}
.email .input-submit {
  width: 129px;
  background-color: #F1F3F2;
  color: #4B9200;
  border: 1px solid #4B9200;
  border-radius: 5px;
}

.copyright p:nth-child(2) {
  margin-top: 10px;
}

.social-media-list ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.soc-media-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.soc-media-item-icon {
  width: 26px;
  height: 26px;
}
.soc-media-item .icon-facebook {
  background: no-repeat center url("../../images/icons/facebook.svg");
}
.soc-media-item .icon-twitter {
  background: no-repeat center url("../../images/icons/twitter.svg");
}
.soc-media-item .icon-instagram {
  background: no-repeat center url("../../images/icons/instagram.svg");
}
.soc-media-item .icon-youtube {
  background: no-repeat center url("../../images/icons/youtube.svg");
}

.page {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 1160px;
}

.logo {
  font-family: "Roboto";
  width: 82px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid white;
  color: #FFFFFF;
}
.logo .logo-header {
  font-size: 19.0145px;
  font-weight: 400;
  line-height: 120%;
  color: #FFFFFF;
  padding: 3.55px 5px;
  border-radius: 2px;
  text-align: center;
}

.header {
  height: 80px;
  background-color: #000000;
  display: flex;
  justify-content: center;
}
.header .container {
  display: flex;
  align-items: center;
}

.bamboo {
  position: absolute;
  left: 11.23px;
  top: 23.64px;
}
.bamboo img {
  height: 20.98px;
  display: block;
}

.navigation {
  margin: 0;
  margin-left: 63px;
}

.nav-list {
  padding: 0;
  display: flex;
  gap: 58px;
  list-style: none;
}
.nav-list .nav-item .active {
  color: #F9804B;
}
.nav-list .nav-item a {
  color: #FFFFFF;
  text-decoration: none;
}
.nav-list .nav-item a:hover {
  color: #F9804B;
}

.watch-online {
  width: 100%;
  height: 700px;
  background: center no-repeat url("../../images/giant-panda.png");
  background-size: cover;
  display: flex;
  justify-content: center;
}
.watch-online .container {
  display: flex;
  justify-content: flex-end;
}
.watch-online .container .round {
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  position: relative;
  margin-right: 109px;
}
.watch-online .container .round .tagline {
  font-size: 106.496px;
  color: #FFFFFF;
  position: absolute;
  top: 74px;
  left: 83px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 75%;
  text-transform: uppercase;
}
.watch-online .container .round .tagline span {
  color: #FFEE2E;
}

.wrapper {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.button-watch {
  margin-top: 69px;
  margin-right: 98px;
}
.button-watch .watch-link {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.active {
  color: #F9804B;
}

.backstage {
  height: 605px;
  background: no-repeat calc(100% + 97px) url("../../images/flower-photo-1.png");
  background-position-y: 15px;
  display: flex;
  justify-content: center;
}
.backstage .instructions {
  margin-top: 140px;
  display: grid;
  grid-template-columns: 609px 1fr;
  gap: 87px;
}

.backstage-img {
  overflow: hidden;
  width: 609px;
}
.backstage-img .bamboo-hat {
  transition: 0.5s;
}
.backstage-img .bamboo-hat:hover {
  transform: scale(1.1);
}

.backstage-text {
  color: #333B41;
}
.backstage-text .about-site {
  margin-top: 20px;
  line-height: 130%;
}
.backstage-text h4 {
  margin-top: 54px;
}
.backstage-text .goals {
  margin-top: 34px;
}

.pets {
  display: flex;
  justify-content: center;
  margin-top: 115px;
  background: no-repeat calc(100% + 27px) bottom url("../../images/strelitzia.png"), no-repeat -22px bottom url("../../images/palm-photo.png");
}
.pets .button {
  width: 62px;
  height: 62px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 10px;
}
.pets .button:hover {
  cursor: pointer;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 366px);
  row-gap: 20px;
  column-gap: 30px;
}
.cards .card-item {
  height: 426px;
  display: flex;
  flex-direction: column;
  border: 1px solid #F9804B;
  border-radius: 3px;
  overflow: hidden;
}

.card-img {
  height: 366px;
  width: 366px;
  background-size: contain;
  transition: 0.5s;
}
.card-img:hover {
  transform: scale(1.1);
}

.card-1 {
  background: no-repeat center url("../../images/pets-block/pandas.png");
}

.card-2 {
  background: no-repeat center url("../../images/pets-block/eagle.png");
}

.card-3 {
  background: no-repeat center url("../../images/pets-block/gorilla.png");
}

.card-4 {
  background: no-repeat center url("../../images/pets-block/sloth.png");
}

.card-5 {
  background: no-repeat center url("../../images/pets-block/cheetahs.png");
}

.card-6 {
  background: no-repeat center url("../../images/pets-block/penguin.png");
}

.text .area {
  margin-top: -2px;
}

.card-icon {
  display: flex;
  justify-content: flex-end;
  width: 43px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 9px 9px 9px 16px;
}

.choose-button {
  background-color: #FE9013;
  margin-top: 82px;
  margin-bottom: 100px;
}
.pets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-choose-pet {
  display: flex;
  justify-content: center;
}

.cards-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pick-feed {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  display: flex;
  justify-content: center;
  color: #333B41;
  padding: 69px 0 100px;
}
.pick-feed .container {
  max-width: 1160px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.pick-instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pick-info {
  margin-top: 42px;
}
.pick-info .description {
  padding-right: 55px;
  padding-left: 99px;
}
.pick-info h2 {
  color: #FE9013;
  text-align: center;
}
.pick-info h4 {
  margin-top: 30px;
}
.pick-info .subtitle-1 {
  font-weight: 500;
  line-height: 130%;
  margin-top: 40px;
}
.pick-info .subtitle-2 {
  line-height: 130%;
  margin-top: 11px;
}
.pick-info .subtitle-3 {
  line-height: 130%;
}
.pick-info .subtitle-3 a {
  padding-bottom: 2px;
  color: #333B41;
  text-decoration: none;
  border-bottom: 1px solid #FE9013;
}

.pick-instruction {
  margin-top: 61px;
}
.pick-instruction .process {
  display: flex;
  margin-top: 40px;
  gap: 30px;
  align-items: center;
}

.process-card {
  max-width: 168px;
  height: 244px;
}
.process-card .icon {
  width: 168px;
  height: 168px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #F9804B;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process-card .subtitle {
  margin-top: 30px;
}

.arrow {
  margin-bottom: 83px;
}
.arrow img {
  width: 69px;
}

.pick-button {
  margin-top: 60px;
  margin-bottom: 59px;
}
.pick-button a {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.pick-button a[disabled]:hover {
  cursor: default;
}

.testimonials {
  display: flex;
  justify-content: center;
  padding: 140px 220px 180px;
  background: no-repeat right calc(100% + 134px) url("../../images/leav.png");
}
.testimonials .testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials h3 {
  color: #333B41;
}
.testimonials .cards {
  margin-top: 47px;
  display: grid;
  grid-template-columns: repeat(4, 268px);
  gap: 30px;
}
.testimonials .scroll-bar {
  width: 599px;
  height: 8px;
  background-color: #F5F7F6;
  border-radius: 5px;
  margin-top: 20px;
}
.testimonials .scroll-bar .scroll {
  width: 115px;
  height: 6px;
  background-color: #FE9013;
  border-radius: 5px;
}

.feedback-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 268px;
  height: 391px;
  border-radius: 20px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
.feedback-card-container .feed-card {
  width: 264px;
  height: 387px;
  background-color: #F1F3F2;
  border-radius: 19px;
  padding: 13px 15px 19px;
}
.feedback-card-container .feed-card .card-text {
  color: #767474;
  margin-top: 9px;
  height: 309px;
  overflow: hidden;
}

.feed-card-info {
  display: flex;
  gap: 10px;
}
.feed-card-info .user-pic {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-size: cover;
}
.feed-card-info .pic-1 {
  background: no-repeat center url("../../images/icons/user.svg");
}
.feed-card-info .pic-2 {
  background: no-repeat center url("../../images/oskar.png");
}
.feed-card-info .pic-3 {
  background: no-repeat center url("../../images/fredericka.png");
}
.feed-card-info .pic-4 {
  background: no-repeat center url("../../images/mila.png");
}

.text-information {
  display: flex;
  flex-direction: column;
}
.text-information .country-date {
  display: flex;
  align-items: center;
  color: #BDBDBD;
  gap: 6px;
}
.text-information .country-date .dot {
  width: 2px;
  height: 2px;
  background-color: #BDBDBD;
  border-radius: 50%;
}

.testimonials-button {
  margin-top: 31px;
  align-self: flex-start;
}

.feedback-button[disabled]:hover {
  cursor: default;
}

/*# sourceMappingURL=main-page.css.map */
