@use './src/stylesheets/variables/colors';

.like {
  display: flex;
  gap: 2px;
  align-items: center;
  grid-area: like;

  &__btn {
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-right: 5px;

    &_liked {
    }
  }

  &__icon {
    &:hover {
      cursor: pointer;
      fill: colors.$red;

      path {
        fill: colors.$red;
        stroke: colors.$red;
      }
    }

    &_liked {
      fill: colors.$red;

      path {
        fill: colors.$red;
        stroke: colors.$red;
      }
    }
  }
}
