@use '../../../stylesheets/variables/colors';

.button {
  padding: 12px;
  border-radius: 16px;
  background-color: white;
  border: 1px solid #8d8d8d;
  text-transform: uppercase;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background: colors.$transparent-gray;
    color: white;
    border-color: colors.$transparent-gray;
  }
}
