@use '../../stylesheets/mixins/mixins';

.cards {
  @include mixins.center-content;

  &__container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
  }
}
